body {
    background-color: rgb(110, 221, 184);
}
h4 {
    font-weight: bold;
    color: rgb(55, 142, 113);
}
#Levi , #Dad , #Mum , #Kaia , #Josh {
    background-color: rgb(2, 233, 233);
    width: 1000px;
    padding: 10px;
    border-radius: 5px;
}
#camera , #display {
    border-width: 3px;
    border-radius: 5px;
    border-color: black;
    border-style: dotted;
    width: 400px;
    height: 300px;
}
h5 {
    font-weight: bold;
}
button {
    font-weight: bold;
    background-color:rgb(4, 196, 196) ;
    color: black;
    height: 40px;
    width: 120px;
}
